<% include partials/header %>

<header>
    <h1>Igneous Rocks!</h1>
</header>

<nav>
    <hr width=50% />
    | <a href="/"> Overview </a> |
    <a href="/igneous"> Igneous </a> |
    <a href="/sedimentary"> Sedimentary </a> |
    <a href="/metamorphic"> Metamorphic </a> |
</nav>

<main>
    <img src="/img/igneous-rock.jpg" alt="Some rocks belong here!" width="700" />
    
    <div>
        <p>Igneous rocks are formed when magma (molten rock deep within the earth) cools and hardens. Sometimes the magma cools inside the earth, and other times it erupts onto the surface from volcanoes (in this case, it is called lava). When lava cools very quickly, no crystals form and the rock looks shiny and glasslike. Sometimes gas bubbles are trapped in the rock during the cooling process, leaving tiny holes and spaces in the rock.
            Examples of this rock type include basalt and obsidian.</p>
    </div>
</main>

<% include partials/footer %>