<% include partials/header %>

<header>
    <h1>Sedimentary Rocks!</h1>
</header>

<nav>
    <hr width=50% />
    | <a href="/"> Overview </a> |
    <a href="/igneous"> Igneous </a> |
    <a href="/sedimentary"> Sedimentary </a> |
    <a href="/metamorphic"> Metamorphic </a> |
</nav>

<main>
    <img src="/img/sedimentary-rock.jpg" alt="Some rocks belong here!" width="700" />
    
    <div>
        <p>Sedimentary rocks are formed from particles of sand, shells, pebbles, and other fragments of material. Together, all these particles are called sediment. Gradually, the sediment accumulates in layers and over a long period of time hardens into rock. Generally, sedimentary rock is fairly soft and may break apart or crumble easily. You can often see sand, pebbles, or stones in the rock, and it is usually the only type that contains fossils.
            Examples of this rock type include conglomerate and limestone.</p>
    </div>
</main>

<% include partials/footer %>