        <hr>
        &copy; 2019. <br/>
        Disclaimer: 
        This website may contain copyrighted material, the use of which may not have been specifically authorized by the copywright owner. This material is available in an effort to explain basic fundamentals of the different types of rocks. The material contained in this webiste is distributed without profit for research educational purposes. Only small portions of the original work are being used and those could not be used easily to duplicate the original work.
        <br><br>
        The original material may be found at
        <a href="https://www.learner.org/interactives/rockcycle/types.html"> www.learner.org </a>.
    </body>
</html>