<!DOCTYPE html>
<html>
    <head>
        <title> Learning Rocks </title>
        <link rel="stylesheet" href="/css/styles.css" />
        <meta charset="utf-8" />
        <script src="https://code.jquery.com/jquery.min.js"></script>
    </head>
    <body>